@font-face {
  font-family: monts-bold;
  src: url(../fonts/montserrat-bold.ttf);
}

@font-face {
  font-family: monts;
  src: url(../fonts/montserrat.ttf);
}

@font-face {
  font-family: opens;
  src: url(../fonts/opensans.ttf);
}

body{
    font-family: opens;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-family: monts-bold;
    font-weight: 800;
}

.area-header{
    background: #FFF;
    padding: 20px;
}

.area-header .bg-light{
    background: #FFFFFF !important;
    margin-top: 20px;
    float: right;
}

.area-header .navbar-nav .nav-item{
    margin-left: 34px;
    font-size: 14px;
}

.area-header .navbar-light .navbar-nav .active>.nav-link{
    font-weight: bold;
}

.area-banner{
    background-image: url(../images/bg-small.png), url(../images/bg-big-c.png);
    background-position: left top, right center;
    background-repeat: no-repeat;
    width: 100%;
    height: 860px;
    margin-top: 140px;
}

.area-banner .title-banner{
    width: 330px;
    height: 69px;
    font-family: monts-bold;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #414141;
    margin-top: 100px;

}

.area-banner p{
    width: 334px;
    height: 70px;
    font-family: opens;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.2px;
    text-align: left;
    color: #949494;
    margin-top: 16px;
}

.area-banner .btn-banner{
    border-radius: 28px;
    width: 238px;
    height: 52px;
    background-color: #99CA3E;
    border-color: #99CA3E;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.64;
    letter-spacing: 3.4px;
    text-align: center;
    color: #ffffff;
}

#aboutus .green-title{
    font-weight: 600;
    line-height: 1.11;
    letter-spacing: 1.4px;
    color: #54c472;
    margin-bottom: 16px;
}


.three-box{
    width: 156px;
    height: 159px;
    padding: 50px;
    background-color: #99CA3E;
    border-top-left-radius: 50px;
    text-align: center;
    margin: auto;
    margin-top: 116px;
    margin-bottom: 31px;
}

.three-title{
    text-align: center;
    margin-bottom: 16px;
}

.show-three p {
    width: 260px;
    height: 81px;
    font-family: monts;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #979797;
    margin: auto;
}

#portfolio {
    padding: 80px;
    padding-bottom: 130px;
    margin-top: 178px;
    background-color: #f3f3f3;
}

#portfolio .item-port{
    background: #FFF;
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


#portfolio .cont-port{
    padding: 30px 30px 30px 5px;
}

#portfolio .cont-port p{
    color: #979797;
    font-size: 14px;
    line-height: 1.57;
}

#portfolio .item-port img{
    border-top-left-radius: 50px;
}

/* the slides */
.slick-slide {
    margin: 0 27px;
}
/* the parent */
.slick-list {
    margin: 0 -27px;
}

.carousel{
    margin-top: 44px;
}

.btn-more{
    border-radius: 28px;
    width: 238px;
    height: 52px;
    background-color: #99CA3E;
    border-color: #99CA3E;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.64;
    letter-spacing: 3.4px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    z-index: 9999;
}

.slick-dots{
    bottom: -80px;
}

.slick-next:before{
    font-family: fontAwesome;
    content: '\f105';
    color:#333333;
    background: #FFFFFF;
    width:50px;
    height:50px;
}

.slick-prev:before{
    font-family: fontAwesome;
    content: '\f104';
    color:#333333;
    background: #FFFFFF;
    width:50px;
    height:50px;
}

.slick-next {
    width: 50px;
    background: #FFF;
    height: 50px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.14);
}

.slick-next:hover{
    background: #FFF;
}

.slick-next:focus{
    background: #FFF;
}


.slick-prev {
    width: 50px;
    background: #FFF;
    height: 50px;
    z-index: 999;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.14);
}

.slick-prev:hover{
    background: #FFF;
}

.slick-prev:focus{
    background: #FFF;
}


#blog .blog-card{
    border-radius: 20px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding-bottom: 15px;
    margin-top: 44px;
    margin-bottom: 140px;
}

#blog .blog-card h4{
    padding: 20px 30px 0px 30px;
}

#blog .blog-card .cont-blog{
    padding: 15px 30px;
    color: #979797;
    font-size: 14px;
    font-family: opens;
    line-height: 1.57;
}

#blog .blog-card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.width-max{
    width:100%;
}

.btn-border-green{
    border-radius: 28px;
    width: 100%;
    height: 52px;
    background-color: #FFF;
    border: 2px solid #99CA3E;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.64;
    letter-spacing: 3.4px;
    text-align: center;
    color: #99CA3E;
}

#blog .blog-card .btn-border-green{
    margin-top: 20px;
}

.title-blog{
    margin-top: 86px;
}

.area-contact {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 60px;
}

#contact{
    margin-top: -100px;
}

#contact h3{
    margin-bottom: 30px;
}

.form-contact{
    border: 2px solid #efefef !important;
}

.contact-info{
    color: #979797;
    line-height: 1.57;
    font-size: 14px;
}

.contact-form{
    padding-bottom: 30px;
}

.form-group label{
    font-size: 14px;
    color: #979797;
}

footer{
    background-color: #f5f5f5;
    padding: 40px 40px 20px 40px;
    margin-top: 112px ;
}

footer p{
    font-size: 14px;
}

.sosmed .follow-us{
    font-size: 14px;
}

.sosmed a span{
    font-size: 22px;
    color: #333;
    margin-left: 10px;
}


.btn-success:hover{
    background: #89b735 !important;
    border-color: #89b735 !important;
}

@media(max-width:600px){
    .area-banner{
        background-image: url(../images/bg-small.png);
        background-position: left top;
        background-repeat: no-repeat;
        width: 100%;
        height: 600px;
    }
    
    .cont-port{
        padding: 15px 15px 0px 15px !important;
    }
    
    #portfolio .cont-port p{
        font-size: 14px;
        line-height: 1.4;
    }
    
    .more-text{
        font-size: 13px;
        color: #99CA3E;
    }
    
    .area-header .bg-light{
        float: none;
    }
    
    .area-header .navbar-nav .nav-item{
        margin-left: 0;
    }
    
    .btn-success{
        width: 100%;
        height: auto;
    }
}

@media(max-width:320px){
    .area-banner{
        background: transparent;
    }
    
    .area-banner .title-banner{
        width: 100%;
        height: auto;
    }
    
    .area-banner p{
        width: 100%;
        height: auto;
    }
}